/*
  page header
*/

.title {
  font-size: 88px;
}

.navLink {
  font-weight: bold;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

/*
global styles
*/

.accordion-header {
  text-align: center;
  font-weight: bold;
}
